body {
  background-color: #dedede;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: #dedede;
}

.bg-danger {
  background-color: red !important;
}

.bg-selected {
  /* cbackground-color: #ffdf80; */
  background-color: rgba(255, 223, 128, 0.2);
}

.bg-transparent {
  background-color: transparent;
}

.fs-15 {
  font-size: medium;
}

.btn {
  color: rgb(118, 118, 118);
  transition: color 1ms;
  cursor: pointer;
}

.btn:hover {
  color: #504f4f;
  text-decoration: underline;
}

.container {
  box-shadow: 0 5px 5px #504f4f;
}

.text-dark {
  color: #504f4f;
}

.fw-0 {
  font-weight: normal;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 99.5%;
}

.overflow-hidden {
  overflow: hidden;
}

.no-border {
  border: none;
}

.mt-5 {
  margin-top: 10% !important;
}

.m-auto {
  margin: auto;
}

.border {
  border: 1px solid red;
}

.min-h {
  min-height: 300px;
}

.min-h-50 {
  min-height: 55px;
}

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: 90% 10%;
}

.grid-col-3 {
  grid-template-columns: 5% 90% 5%;
}

.m-0 {
  margin: 0;
}

.p {
  padding: 15px;
}

.ps {
  padding-left: 15px;
}

.pt {
  padding-top: 28px;
}

.pt-5 {
  padding-top: 40%;
}

.pt-3 {
  padding-top: 15px;
}

.line-through {
  text-decoration: line-through;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.border-b {
  border-bottom: 1px solid #dedede;
}

#task {
  border: none !important;
  outline: none !important;
  font-style: italic !important;
}

.no-resize :focus {
  outline: none;
  border: none;
}

#task :focus {
  border: 0 !important;
  outline: 0 !important;
}

#task ::placeholder {
  font-style: italic;
}

.edit {
  cursor: text !important;
}

.no-resize {
  resize: none !important;
  display: inline-block;
  outline: none;
  border: none;
}

.cursor-hand {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}
